@(msgs: List[User], msgForm: Form[(String, String, String)])
@*
模板入参:
第一个名为msgs的List[Message]类型参数;
第二个名为msgForm的Form[(String, String)]类型参数
*@

@* 导入 helper 包下的类和对象，因为需要其中的form来生成表单 *@
@import helper._

@* 调用main.scala.html模板，并将标题改为"留言板" *@
@main("Rontech个人信息查看") {
  
 <h2>个人信息<h2>
 <ul>
        @* 提取 msgs 入参中的全部数据 *@
        @msgs.map { message =>
            <li>
                @* 提取名字 *@
                <p><strong>@message.username</strong></p>
                @* 提取密码 *@
                <p>@message.password</p>
                @* 提取邮箱 *@
                <p>@message.password</p>
            </li>
        }
 </ul>
   @*<h2><center>Rontech个人信息查看</center></h2>*@
   @* 创建表单，告知表单提交时发送POST给routes.Application.postMsg来处理 *@
   @form(routes.Application.editUser){
       <input type="submit" value="修改个人信息" >
   }

}