@(msgs: List[User], msgForm: Form[(String, String,String,String)])
@*
模板入参:
第一个名为msgs的List[Message]类型参数;
第二个名为msgForm的Form[(String, String)]类型参数
*@

@* 导入 helper 包下的类和对象，因为需要其中的form来生成表单 *@
@import helper._

@* 调用main.scala.html模板，并将标题改为"留言板" *@
@main("Rontech勤务系统") {
  
 <h2>个人信息<h2>
 <ul>
        @* 提取 msgs 入参中的全部数据 *@
        @msgs.map { message =>
            <li>
                @* 提取名字 *@
                <p><strong>@message.username</strong></p>
                @* 提取内容 *@
                <p>@message.password</p>
            </li>
        }
 </ul>
   <h2><center>Rontech勤务系统</center></h2>
   @* 创建表单，告知表单提交时发送POST给routes.Application.postMsg来处理 *@
   @form(routes.Application.login){
       @* 生成名字的输入框*@
       @inputText(msgForm("username"), '_label -> "用户名") 
       @* 生成内容的输入框 *@
       @inputText(msgForm("password"), '_label -> "密码") 
       @* 生成用于提交的按钮 *@
       <input type="submit" value="登陆" >
       <a href = "/h"><input type="button" value="注册" ></a>      
   }

}